.containerselectser{
    width: 1230px;
    height: 1000px;
    align-content: center;
    justify-content: center;
    position: absolute;
    text-align: center;
    margin: auto;
    top : 62%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.containerSMV{
    width: 1000px;
    height: 700px;
    border-radius: 10px;
    border-style: solid;
    align-content: center;
    justify-content: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    overflow: scroll;
    font-weight: bold;
}
.btnsSMV{
    align-content: center;
    justify-content: center;
    width: 920px;
    position: relative;
    padding: 5px;
    text-align: left;
    font-size: 25px;
    float: left;
    background-color: lightgray;
    margin: 10px;
}
.conSMV{
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;

}